body{
    font-family: "Lucida Grande", Arial;
    font-size: 13px;
    background: #252525;
}
*{outline: none;}

#wrapper{
    width: 940px;
    padding: 10px;
    background: #f2f2f2;
    position: relative;
    margin: 10px auto;
    min-height: 800px;
    box-shadow: 3px 3px 25px black;
}

#display{
    width: 500px;
    height: 500px;
    background: #252525;
    position: relative;
    margin: 10px auto 50px auto;
}
.limit{
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
}
#sun, #star{
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: rgb(255,241,229);
    width: 150px;
    height: 150px;
    margin: 170px auto auto auto;
}
#star{
    float: right;
    right: 0;
}
label{
    display: block;
    width: 150px;
    line-height: 35px;
    height: 35px;
    float: left;
    clear: both;
    margin: 5px;
    text-align: right;
}
input{
    width: 350px;
    height: 30px;
    float: left;
    margin: 5px;
}
input[type=text]{
    width: 75px;
}
#radius{
    clear: both;
    background: #faf0be;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
#radius span{
    font-size: 18px;
}
#temperatura, #luminosidade{
    width: 550px;
    margin: 15px 0;
    float: left;
}